extends layout-angular

block content
  p Account #{firstname} #{lastname}

  if error
    p Error : #{error}

  form(method="post", action="/update-user")
    label login
      input(type="text", name="login", placeholder="Login", autofocus, required, value="#{login}")
    label firstname
      input(type="text", name="firstname", value="#{firstname}")
    label lastname
      input(type="text", name="lastname", value="#{lastname}")
    label email
      input(type="text", name="mail", value="#{mail}")
    label nick irc
      input(type="text", name="irc", value="#{irc}")
    input(type="hidden", name="id", value="#{id}")
    input(type="submit")

  a(href='/account-password') Change password

  ul
    li apiKey: #{apiKey}
    li last login on: #{last_login_on}
    li created on: #{created_on}
    li id : #{id}
    if admin
      li admin

