p Account #{firstname} #{lastname}

if error
  p Error : #{error}

form(method="post", action="/create-user")
  input(type="text", name="login", placeholder="Login", autofocus, required, value="#{login}")
  input(type="password", name="password", placeholder="Password", required, value="")
  input(type="password", name="confirmPassword", placeholder="Confirm password", required, value="")
  input(type="text", name="firstname", value="#{firstname}")
  input(type="text", name="lastname", value="#{lastname}")
  input(type="text", name="mail", value="#{mail}")
  input(type="submit")

ul
  li apiKey: #{apiKey}
  li last login on: #{last_login_on}
  li created on: #{created_on}
  li id : #{id}
