extends layout-angular

block content
  .container
    .row
      .well.span6.offset3
        p Account #{firstname} #{lastname}

        if error
          p Error : #{error}

      form.fullForm.span6.offset3.well(method="post", action="/update-user")
        .row-fluid
          .span6
            fieldset
              label(for="login") Login
              input(type="text", id="login", name="login", placeholder="Login", autofocus, required, value="#{login}")

            fieldset
              label(for="firstname") Firstname
              input(type="text", id="firstname", name="firstname", value="#{firstname}")

            fieldset
              label(for="lastname") Lastname
              input(type="text", id="lastname", name="lastname", value="#{lastname}")

          .span6
            fieldset
              label(for="mail") Email
              input(type="text", id="mail", name="mail", value="#{mail}")

            fieldset
              label(for="irc") Nick irc
              input(type="text", id="irc", name="irc", value="#{irc}")

            input(type="hidden", name="id", value="#{id}")

            button(type="submit", class="btn  btn-primary") Submit

            p
              a(href='/account-password') Change password

          .span12
            ul
              li apiKey: #{apiKey}
              li last login on: #{last_login_on}
              li created on: #{created_on}
              li id : #{id}
              if admin
                li admin

